dataset/unannotated_models/
dataset/annotated_models/
dataset/annotated_objs/
dataset/some_annotated_models/
dataset/annotated_graphs/
dataset/processed/
dataset/baked_models/
dataset/baked_models_cubes/
2_full_gat/
dataset/raw
gat_grad_cache/
runs/
__pycache__/
.vscode
